.post{
    color: #FFF;
    margin: 20px;
}
.post img{
    height: 50px;
    width: 50px;
    background: bisque;
    border-radius: 50%;
}
.post span{

}
.likes{
    font-size: 14px;
    color: darkred;
}
.profile{
    justify-content: center;
}
.postCreator{
    justify-content: center;
    margin: 0 auto;
}
.postCreator textarea{
    width: 400px;
}
.postCreator button {
    width: 100px;
    height: 30px;
}