.post{
    color: #FFF;
}
.profile{
    justify-content: center;
}
.postCreator{
    justify-content: center;
    margin: 0 auto;
}
.postCreator textarea{
    width: 400px;
}
.postCreator button{
    width: 100px;
    height: 30px;
}
.profile.avatar{
    width: 300px;
}