.userItem{



}
.userItem h3{
    font-size: 14px;

}
.userItem img{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}
.active{
    font-weight: bold;
}
.paginator span{
    margin: 2px;
    padding: 1px;
    border: 1px solid black;
}