.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*----------------------------------*/
.main{
  width: 1200px;

  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "h h "
          "s c";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;

}

header{
  grid-area: h;
  background: #597da3;
}
header img{
  height: 60px;
  padding: 20px;
}
.content{
  grid-area: c;
  background: darkgrey;
  border: 1px solid grey;;
}
.content img{
  width: 80%;
}

.sidebar{
  grid-area: s;
  background: grey;
 padding: 40px;
}
.sidebar ul{
}
.sidebar ul li{
  display: block;
}

.sidebar  ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
